body{
	font-family: Tahoma; 
}

h1 {
	color: #444444;
	text-align: center;
	font-style: italic;
}

li {
	color: #444444;
	text-align: left;
	font-style: bold;
	font-size: 16px;
}

ul {
	font-style: italic;
}